---
import Layout from "@/layouts/Layout.astro";
import type { MenuItem } from "@/lib/types/menu";

import {
  Table,
  TableBody,
  TableCaption,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "@/components/ui/table";

const domainsQuery = await fetch(new URL("/api/domains", Astro.url));
const data = await domainsQuery.json();

interface Domain{
    name: string;
    type: string;
    company: string;
    url: string;
};

const breadCrumb = [
    {
        title: "Home",
        path: "/"
    },
    {
        title: "Directory",
        path: "/dir/"
    },
    {
        title: "Domains"
    }
] as MenuItem[];
---

<Layout title="Domains Directory" 
        description="Browse our domain names. The domain directory is the best way to see our entire web-space."
        breadcrumb={breadCrumb}>
    <Table>
        <TableCaption>Directory of domain names.</TableCaption>
        <TableHeader>
          <TableRow>
            <TableHead className="w-[200px]">Website Name</TableHead>
            <TableHead className="w-[90px]">Type</TableHead>
            <TableHead>Company</TableHead>
            <TableHead className="text-right">URL</TableHead>
          </TableRow>
        </TableHeader>
        <TableBody>
        {
            data.map((domain: Domain) => (
                <TableRow>
                    <TableCell className="font-medium">
                        {domain.name}
                    </TableCell>
                    <TableCell>
                        {domain.type}
                    </TableCell>
                    <TableCell>
                        {domain.company}
                    </TableCell>
                    <TableCell className="text-right">
                        <a href={domain.url} target="_blank">
                            {domain.url}
                        </a>
                    </TableCell>
                </TableRow>
            ))
        }
        </TableBody>
      </Table>
</Layout>